body {
  margin: 0;
  padding: 0;
  background-color: #0e0e44; 
  color: white;
  font-family: Arial, sans-serif;
    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.welcome-text {
    font-size: 48px;
    font-weight: bold;
    color: #d2b9ff; 
    margin-bottom: 30px;
}

.button {
    background-color: #ff69b4;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
}